<header ng-include="'views/header.html'"></header>
<div class="bio">
    <div class="container-fluid">
        <div class="row">
            <header class="col-md-12 page-heading-block">
                <h1>{{ pageTitle }}</h1>
            </header>
        </div>
        <div class="row item-row">
            <div class="item">
                <h2 class="pull-right">Davy Jones</h2>
                <img class="pull-left img-responsive" src="img/dj-rs.jpg" alt="Davy Jones" />
                <p class="clear-right">Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no. Veniam graecis vis in, ut odio sonet nostrum eam. No mandamus adversarium eam, mentitum nominavi abhorreant ea pro, commodo tacimates in est.  Veniam graecis vis in, ut odio sonet nostrum eam. No mandamus adversarium eam, mentitum nominavi abhorreant ea pro, commodo tacimates in est.</p>
            </div>
            <div class="item">
                <h2 class="pull-left">Michael Nesmith</h2>
                <img class="pull-right img-responsive" src="img/mn-rs.jpg" alt="Michael Nesmith" />
                <p class="clear-left">Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no. Veniam graecis vis in, ut odio sonet nostrum eam. No mandamus adversarium eam, mentitum nominavi abhorreant ea pro, commodo tacimates in est.</p>
            </div>
            <div class="item">
                <h2 class="pull-right">Peter Tork</h2>
                <img class="pull-left img-responsive" src="img/pt-rs.jpg" alt="Peter Tork" />
                <p class="clear-right">Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no. Veniam graecis vis in, ut odio sonet nostrum eam. No mandamus adversarium eam, mentitum nominavi abhorreant ea pro, commodo tacimates in est.</p>
            </div>
            <div class="item">
                <h2 class="pull-left">Micky Dolenz</h2>
                <img class="pull-right img-responsive" src="img/md-rs.jpg" alt="Micky Dolenz" />
                <p class="clear-left">Lorem ipsum dolor sit amet, ius enim lucilius repudiare in. Alterum liberavisse cu eum. Odio indoctum per eu, no sed impedit insolens intellegat. Ut sit saperet dissentias, clita adipiscing ex eos. Duo an quod laoreet ullamcorper. Doctus electram an eam. Eu noluisse salutandi has. His at propriae mediocrem, his prompta tacimates explicari no. Quem idque id qui, cetero comprehensam his no. Eos id posidonium interesset, tollit populo denique eum no. Veniam graecis vis in, ut odio sonet nostrum eam. No mandamus adversarium eam, mentitum nominavi abhorreant ea pro, commodo tacimates in est. Veniam graecis vis in, ut odio sonet nostrum eam. No mandamus adversarium eam, mentitum nominavi abhorreant ea pro, commodo tacimates in est.</p>
            </div>
        </div>
    </div>
</div>
