<div class="header-upper">
    <div class="col-md-12">
        <a class="sign-up pull-right" href="#/contact">
                Newsleter Sign up
            </a>
        <a href="https://www.youtube.com/results?search_query=monkees" class="social-icon img-responsive pull-right">
            <img src="img/you-tube-icon-rs21.png" />
        </a>
        <a href="https://twitter.com/TheMonkees?lang=en-gb" class="social-icon img-responsive pull-right">
            <img src="img/Twitter-Icon-grey-rs21.png" />
        </a>
        <a href="https://www.facebook.com/TheMonkees/" class="social-icon img-responsive pull-right">
            <img src="img/facebook-icon-grey-rs21.png" />
        </a>
    </div>
</div>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><strong>The Monkees</strong></a>
        </div>
        <ul class="nav nav-pills navbar-right">
            <li><a href="#/">Home</a></li>
            <li><a href="#/bio">Bio</a></li>
            <li><a href="#/media">Media</a></li>
            <li><a href="#/gigs">Gigs & Booking</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </div>
</nav>
    