<div class="home">
    <div class="container-fluid">
        <div class="col-md-12 home-social-icons">
            <a href="https://www.youtube.com/results?search_query=monkees" class="social-icon img-responsive pull-right">
                <img src="img/you-tube-icon-rs21.png" />
            </a>
            <a href="https://twitter.com/TheMonkees?lang=en-gb" class="social-icon img-responsive pull-right">
                <img src="img/Twitter-Icon-grey-rs21.png" />
            </a>
            <a href="https://www.facebook.com/TheMonkees/" class="social-icon img-responsive pull-right">
                <img src="img/facebook-icon-grey-rs21.png" />
            </a>
        </div>
        <div class="row home-row">
            <div class="col-md-12">
                <h1>The Monkees</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="home-nav">
                    <li><a href="#/bio">Bio</a> | </li>
                    <li><a href="#/media">Media</a> | </li>
                    <li><a href="#/gigs">Gigs & Booking</a> | </li>
                    <li><a href="#/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="showcase-audio-skin center-block">
                    <h3>Showcase: Listen to our latest track</h3>
                    <p>I'm A Believer - The Monkees</p>
                    <audio controls preload="auto" loop>
                    	<!--<source src=".ogg" type="audio/ogg" />-->
                    	<source src="audio/ImABeliever.mp3" type="audio/mpeg" />
                    	<a href="audio/ImABeliever.mp3">I'm A Believer - The Monkees</a>
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>